<a href="https://colab.research.google.com/github/russodanielp/intro_cheminformatics/blob/google_colab/Lab%2008%20-%20Machine%20Learning%20-%20Supervised%2C%20QSAR/DataMergingAndCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data merging

One of the most time consuming but necessary tasks in cheminformatics is merging information from different sources.  So long as your chemicals have a common identifier (refer to lecture on chemical representation for what a unique identifier means), there exist operations to merge different datasets.  

In pandas, this is done through the merge function ([refer to the documentation](https://pandas.pydata.org/docs/user_guide/merging.html#database-style-dataframe-or-named-series-joining-merging) for full functionality).  

There are several types of ways to merge data, borrowed from the table joins from the SQL database language.  They are conceptualized in the following graphic.  

<img src='https://raw.githubusercontent.com/russodanielp/intro_cheminformatics/google_colab/Lab%2008%20-%20Machine%20Learning%20-%20Supervised%2C%20QSAR/data/join_examples.png'>

This notebook we show the most common four ways to merge to datasets in tabular format:

1) Inner Join  
2) Full (Outer) Join  
3) Left Join  
4) Right Join.

Support for reading Excel tables using Pandas requires the installation of the `openpyxl` package.

!pip install openpyxl

We first need to load the two datasets as different dataframes.

In [ ]:
import pandas as pd

ds_one = pd.read_excel('Fake Data.xlsx', sheet_name='Dataset One')
ds_two = pd.read_excel('Fake Data.xlsx', sheet_name='Dataset Two')

In [ ]:
print(ds_one.shape)

ds_one.head()

(21, 3)

  Chemical Identifier  Molecular Weight  Log P
0          Compound 1               410       5
1          Compound 2               201       0
2          Compound 3               489       1
3          Compound 4               302       1
4          Compound 5               231      -1

In [ ]:
print(ds_two.shape)

ds_two.head()

(21, 3)

,Chemical Identifier,Chemical SMILES,Chemical InChI
0,Compound 1,O=C2NC(=O)C(C1=CC=CC=C1)(C(=O)N2)CC,"InChI=1S/C10H14NO5PS/c1-3-14-17(18,15-4-2)16-1..."
1,Compound 4,C=1C=C(C=CC=1C(C2=CC=C(C=C2)Cl)C(Cl)(Cl)Cl)Cl,InChI=1S/C10H15O3PS2/c1-8-7-9(5-6-10(8)16-4)13...
2,Compound 5,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
3,Compound 11,O=[N+]([O-])C=1C=CC(O)=C(C=1)[N+](=O)[O-],InChI=1S/C11H8O2/c1-7-6-10(12)8-4-2-3-5-9(8)11...
4,Compound 12,O=C(OCC)N,InChI=1S/C12H12N2O3/c1-2-12(8-6-4-3-5-7-8)9(15...

After, we can use the `pd.merge` function that well join the datasets by a unique column identifier.  The merge function takes the first (left) and second (right) dataframes as required arguments.  The other important arguments are the `on` argument, which is the unique column shared between two datasets and the `how` argument which tells the type of join. 

### Inner join

The first join is the inner join. The inner join takes all finds all rows from both datasets that match in both dataframes.  E.g., identifiers not in both dataframes are exclused.

In [ ]:
inner_join = pd.merge(ds_one, ds_two, on='Chemical Identifier', how='inner')

print(inner_join.shape)
inner_join.head()

(15, 5)

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
0,Compound 1,410,5,O=C2NC(=O)C(C1=CC=CC=C1)(C(=O)N2)CC,"InChI=1S/C10H14NO5PS/c1-3-14-17(18,15-4-2)16-1..."
1,Compound 4,302,1,C=1C=C(C=CC=1C(C2=CC=C(C=C2)Cl)C(Cl)(Cl)Cl)Cl,InChI=1S/C10H15O3PS2/c1-8-7-9(5-6-10(8)16-4)13...
2,Compound 5,231,-1,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
3,Compound 5,209,5,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
4,Compound 15,319,4,O=C(N)C=1C=CC=CC=1,InChI=1S/C3H5N3O9/c7-4(8)13-1-3(15-6(11)12)2-1...

### Outer Join

An outer join will match all common elements on the column, but include all the remaining data from the left and the right datasets.

In [ ]:
outer_join = pd.merge(ds_one, ds_two, on='Chemical Identifier', how='outer')

print(outer_join.shape)
outer_join.head()

(30, 5)

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
0,Compound 1,410.0,5.0,O=C2NC(=O)C(C1=CC=CC=C1)(C(=O)N2)CC,"InChI=1S/C10H14NO5PS/c1-3-14-17(18,15-4-2)16-1..."
1,Compound 2,201.0,0.0,NaN,NaN
2,Compound 3,489.0,1.0,NaN,NaN
3,Compound 4,302.0,1.0,C=1C=C(C=CC=1C(C2=CC=C(C=C2)Cl)C(Cl)(Cl)Cl)Cl,InChI=1S/C10H15O3PS2/c1-8-7-9(5-6-10(8)16-4)13...
4,Compound 5,231.0,-1.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...

### Left Join

A left join will find the elements from the left dataset that are in the right.

In [ ]:
left_join = pd.merge(ds_one, ds_two, on='Chemical Identifier', how='left')

print(left_join.shape)
left_join.head()

(22, 5)

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
0,Compound 1,410,5,O=C2NC(=O)C(C1=CC=CC=C1)(C(=O)N2)CC,"InChI=1S/C10H14NO5PS/c1-3-14-17(18,15-4-2)16-1..."
1,Compound 2,201,0,NaN,NaN
2,Compound 3,489,1,NaN,NaN
3,Compound 4,302,1,C=1C=C(C=CC=1C(C2=CC=C(C=C2)Cl)C(Cl)(Cl)Cl)Cl,InChI=1S/C10H15O3PS2/c1-8-7-9(5-6-10(8)16-4)13...
4,Compound 5,231,-1,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...

### Right Join

A right join does the same as the left, except for the other dataset.

In [ ]:
right_join = pd.merge(ds_one, ds_two, on='Chemical Identifier', how='right')

print(right_join.shape)
right_join.head()

(23, 5)

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
0,Compound 1,410.0,5.0,O=C2NC(=O)C(C1=CC=CC=C1)(C(=O)N2)CC,"InChI=1S/C10H14NO5PS/c1-3-14-17(18,15-4-2)16-1..."
1,Compound 4,302.0,1.0,C=1C=C(C=CC=1C(C2=CC=C(C=C2)Cl)C(Cl)(Cl)Cl)Cl,InChI=1S/C10H15O3PS2/c1-8-7-9(5-6-10(8)16-4)13...
2,Compound 5,231.0,-1.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
3,Compound 5,209.0,5.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
4,Compound 11,282.0,1.0,O=[N+]([O-])C=1C=CC(O)=C(C=1)[N+](=O)[O-],InChI=1S/C11H8O2/c1-7-6-10(12)8-4-2-3-5-9(8)11...

In [ ]:
df = outer_join

Checking for duplicates.  

Sometimes, an entire record can be duplicated (every column is the same for two rows) or a chemical can have multiple values (e.g., multiple activites).  Both need to be dealt with.

In [ ]:
df

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
0,Compound 1,410.0,5.0,O=C2NC(=O)C(C1=CC=CC=C1)(C(=O)N2)CC,"InChI=1S/C10H14NO5PS/c1-3-14-17(18,15-4-2)16-1..."
1,Compound 2,201.0,0.0,NaN,NaN
2,Compound 3,489.0,1.0,NaN,NaN
3,Compound 4,302.0,1.0,C=1C=C(C=CC=1C(C2=CC=C(C=C2)Cl)C(Cl)(Cl)Cl)Cl,InChI=1S/C10H15O3PS2/c1-8-7-9(5-6-10(8)16-4)13...
4,Compound 5,231.0,-1.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
5,Compound 5,209.0,5.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
6,Compound 6,483.0,5.0,NaN,NaN
7,Compound 7,310.0,0.0,NaN,NaN
8,Compound 8,246.0,1.0,NaN,NaN
9,Compound 9,378.0,-1.0,NaN,NaN
10,Compound 10,335.0,3.0,NaN,NaN
11,Compound 15,319.0,4.0,O=C(N)C=1C=CC=CC=1,InChI=1S/C3H5N3O9/c7-4(8)13-1-3(15-6(11)12)2-1...
12,Compound 15,371.0,2.0,O=C(N)C=1C=CC=CC=1,InChI=1S/C3H5N3O9/c7-4(8)13-1-3(15-6(11)12)2-1...
13,Compound 11,282.0,1.0,O=[N+]([O-])C=1C=CC(O)=C(C=1)[N+](=O)[O-],InChI=1S/C11H8O2/c1-7-6-10(12)8-4-2-3-5-9(8)11...
14,Compound 12,396.0,3.0,O=C(OCC)N,InChI=1S/C12H12N2O3/c1-2-12(8-6-4-3-5-7-8)9(15...
15,Compound 13,241.0,1.0,O=P(OC)(OC)C(O)C(Cl)(Cl)Cl,InChI=1S/C14H9Cl5/c15-11-5-1-9(2-6-11)13(14(17...
16,Compound 14,362.0,2.0,O=NN(CC)CC,"InChI=1S/C2H8N2/c1-4(2)3/h3H2,1-2H3"
17,Compound 14,362.0,2.0,O=NN(CC)CC,"InChI=1S/C2H8N2/c1-4(2)3/h3H2,1-2H3"
18,Compound 16,276.0,0.0,O(C=1C=CC(=C(C=1)C)SC)P(OC)(OC)=S,"InChI=1S/C3H7NO2/c1-2-6-3(4)5/h2H2,1H3,(H2,4,5)"
19,Compound 17,366.0,0.0,O=[N+]([O-])OCC(O[N+](=O)[O-])CO[N+](=O)[O-],"InChI=1S/C3H8O2/c1-3(5)2-4/h3-5H,2H2,1H3"
20,Compound 18,360.0,4.0,C(Cl)(Cl)(Cl)Cl,"InChI=1S/C4H10N2O/c1-3-6(4-2)5-7/h3-4H2,1-2H3"
21,Compound 19,233.0,-1.0,O=[N+]([O-])C1=CC=C(OP(OCC)(OCC)=S)C=C1,"InChI=1S/C4H5NS/c1-2-3-5-4-6/h2H,1,3H2"
22,Compound 20,NaN,NaN,C(=NCC=C)=S,"InChI=1S/C4H7Cl3O/c1-3(2,8)4(5,6)7/h8H,1-2H3"
23,Compound 20,NaN,NaN,C(=NCC=C)=S,"InChI=1S/C4H7Cl3O/c1-3(2,8)4(5,6)7/h8H,1-2H3"
24,Compound 24,NaN,NaN,NN(C)C,"InChI=1S/C4H8Cl3O4P/c1-10-12(9,11-2)3(8)4(5,6)..."
25,Compound 25,NaN,NaN,OC(C)(C)C(Cl)(Cl)Cl,InChI=1S/C6H4N2O5/c9-6-2-1-4(7(10)11)3-5(6)8(1...
26,Compound 26,NaN,NaN,O=C1NC(=O)C(C(=O)N1)(CC)CCC(C)C,InChI=1S/C7H3Cl3O2/c8-3-1-2-4(9)6(10)5(3)7(11)...
27,Compound 27,NaN,NaN,OCC(O)C,"InChI=1S/C7H7NO/c8-7(9)6-4-2-1-3-5-6/h1-5H,(H2..."
28,Compound 28,NaN,NaN,C2=C(C3(C1C(CC(C1Cl)Cl)C2(C3(Cl)Cl)Cl)Cl)ClCl,"InChI=1S/CCl4/c2-1(3,4)5"
29,Compound 29,NaN,NaN,O=C1C=C(C(=O)C=2C=CC=CC1=2)C,InChI=1S/C6H4N2O5/c9-6-2-1-4(7(10)11)3-5(6)8(1...

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23     True
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

In [ ]:
df[df.duplicated(keep=False)]

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
16,Compound 14,362.0,2.0,O=NN(CC)CC,"InChI=1S/C2H8N2/c1-4(2)3/h3H2,1-2H3"
17,Compound 14,362.0,2.0,O=NN(CC)CC,"InChI=1S/C2H8N2/c1-4(2)3/h3H2,1-2H3"
22,Compound 20,NaN,NaN,C(=NCC=C)=S,"InChI=1S/C4H7Cl3O/c1-3(2,8)4(5,6)7/h8H,1-2H3"
23,Compound 20,NaN,NaN,C(=NCC=C)=S,"InChI=1S/C4H7Cl3O/c1-3(2,8)4(5,6)7/h8H,1-2H3"

In [ ]:
df = df.drop_duplicates()

In [ ]:
df[df.duplicated(subset='Chemical Identifier', keep=False)]

,Chemical Identifier,Molecular Weight,Log P,Chemical SMILES,Chemical InChI
4,Compound 5,231.0,-1.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
5,Compound 5,209.0,5.0,O=C(O)C1=C(C=CC(=C1Cl)Cl)Cl,InChI=1S/C11H18N2O3/c1-4-11(6-5-7(2)3)8(14)12-...
11,Compound 15,319.0,4.0,O=C(N)C=1C=CC=CC=1,InChI=1S/C3H5N3O9/c7-4(8)13-1-3(15-6(11)12)2-1...
12,Compound 15,371.0,2.0,O=C(N)C=1C=CC=CC=1,InChI=1S/C3H5N3O9/c7-4(8)13-1-3(15-6(11)12)2-1...

In [ ]:
df = df.sort_values('Log P ').drop_duplicates(subset='Chemical Identifier', keep='first')

In [ ]:
df.shape

(26, 5)

In [ ]:
df['Chemical Identifier'].nunique()

26